.footer{
    background-color: #0a1126;
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer h2{
    color: #fff;
    margin-bottom: 32px;
}
.footer img{
    margin-bottom: 32px;
}
.footer p{
    color: #83868c;
}
.footer li{
    color: #83868c;
}